.footer-top {
	text-align: center;
}

.footer-copyrights {
	font-size: 12px;
	text-align: center;
}

.footer-link{
	color: white !important;
}

.footer-link:hover{
	color: white !important;
}

.spacebar {
	margin-top: 80px;
}

.fixed {
	height: 200px;	
}

.fixed-100 {
	height: 500;	
}

.form-actions {
	border-top: none;
	padding: 0;
	margin: 0;	
}

.centered {
	text-align: center;
}

.sponsors img {
	padding-right: 40px;
}